#container{
    height: 500px;
    width: 500px;
    background-color: aquamarine;
    display: flex;
}

#container div{
    height: 200px;
    width: 200px;
}

#div1{
    background-color: blueviolet;
    flex-grow: 2;
}

#div2{
    background-color:tomato;
    /*It will grow acc to remaining side*/
    flex-grow: 1;
}

#container2{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    display: flex;
}

#container2 div{
    height: 200px;
    width: 200px;
}

#di1{
    background-color: blueviolet;
    flex-shrink: 3;
}

#di2{
    background-color:tomato;
    /*It will shrink acc to remaining side*/
    flex-shrink: 5;
}