#first-letters::first-letter {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    text-decoration: underline;
}

#first-lines::first-line {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    text-decoration: underline;
}

#before-use::before{
    content: 'SANOJ pehle aayega';
    font-size: xx-large;
    color: lightgreen;
    font-family: sans-serif;
}

#after-use::after{
    content: 'SANOJ end mai aayega';
    font-size: xx-large;
    color: lightgreen;
    font-family: Verdana;
}

ul{
    list-style: none;
}

li::before{
    content: '';
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK5q0FP74VV9wbfwP378_7kj7iDomHuKrxkXsxDdUT28V9dlVMNUe-EMzaLwaFhneeuZI&usqp=CAU);
    display: inline-block;
    background-size: contain;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}